<nav class="nav">
  <a class="nav-link active" aria-current="page" >Navbar</a>
  <a class="nav-link" [routerLink]="['/']">Home</a>
  <a class="nav-link" [routerLink]="['/counter']">Counter</a>
  <a class="nav-link" [routerLink]="['/posts']">Posts</a>
  <a class="nav-link" [routerLink]="['/auth']" *ngIf="!(isAuthenticated | async)">Login</a>
  <a class="nav-link" [routerLink]="['/auth/signup']" *ngIf="!(isAuthenticated | async)">Signup</a>
  <a class="nav-link" (click)="logout($event)" *ngIf="isAuthenticated | async">Logout</a>
</nav>
